<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>



<h2>Visual DB representation</h2>
<p>{{ poepout }}</p>

<a class="btn btn-outline-primary" href="add" role="button">Voeg je kat toe! :)</a>
<a class="btn btn-outline-success" href="check" role="button">Bekijk je kat's info.</a>
<a class="btn btn-outline-warning" href="edit" role="button">Pas de verjaardag van je kat aan.</a>
<a class="btn btn-outline-danger" href="delete" role="button">Verwijder je kat... :(</a>
<br>
<a class="btn btn-outline-success" href="/" role="button">Bekijk alle katten</a>